ul{
    list-style-type: none;
}
input{
    display:inline-block;
}
img{
    display:inline-block;
    padding:1vh;
    object-fit: contain;
}
.elemento{
    display: flex;
    height:9vh;
}
.title-container{
    height:10vh;
    display: flex;
}
.title{
    display:inline-block;
    width: 80vw;
    text-align: center;
    border-right: 0.5vh dotted grey;
}
.title-main{
    font-size: 4.35vh;
    font-style: bold;
    overflow-x:auto;
    white-space: nowrap;
}
.imagem-titulo{
    height: 5.10vh;
}
.title-sub{
    font-size: 2vh;
    overflow-x:auto;
    white-space: nowrap;
}
.score{
    padding-left: 2vw;
    width: 20vw;
    display:inline-block;
    font-size: 6vh;
    font-style: bold;
}